// stylelint-disable all

body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: left;
  background-color: #fafcfc;
}

.vorsprung {
  #page-wrapper {
    .nolink .MathJax {
      text-align: center;
      margin: 1em 0em;
      position: relative;
      text-indent: 0;
      max-width: none;
      max-height: none;
      min-width: 0;
      min-height: 0;
      width: 100%;
    }

    a[target="_blank"]:after {
      content: "⊕" !important;
      font-size: 100%;
      top: -6px;
      position: relative;
    }

    .section {
      .activity a.stealth, .activity a.stealth:hover {
        color: var(--color-main) !important;
      }

      .card {
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
      }
    }

    .vorsprung-label:before {
      color: #e2b847;
      content: "VOR";
    }

    .vorsprung-label:after {
      color: #00a0a2;
      content: "SPRUNG";
    }

    /* VORsprung Bug 62: dieses Snippet entfernt den grauen Kasten um die Questbeschreibung */
    .activity-header:not(:empty) {
      background-color: #ffffff;
    }

    /* Bug 62: Die H3 Überschriften "Ihre Aufträge" waren zu nah am Quest-Informationskasten und zu weit weg von den Aufträgen auf die sich die überschrift bezieht. Das wird hier korrigiert */
    .activity-description h3:not(.card h3) {
      margin-top: 3rem;
      margin-bottom: 1rem;
    }

    .drawer {
      top: 60px;
    }

    /* Bug 62: Links vom Kasten unter "Ihre Aufträge" wird mehr Abstand hinzugefügt, damit "Ihre Aufträge" und "Alle Elemente" darunter linksbündig aneinander ausgerichtet sind  */
    .drawers div[role="main"] {
      margin-left: 19px;
    }

    /* VORsprung Bug 35: Ausblenden der Fortschrittsleiste über den Kacheln. Hier wollte ich eigentlich .vorsprung-blabla .format-tiles #abovetiles als Selektor nehmen, aber das hat die vorhandenen Styles nicht überschrieben*/
    #abovetiles {
      display: none !important;
    }

    ul.list-group {
      li.list-group-item {
        i.fa {
          padding-right: 10px;
        }

        &:hover, &:focus {
          border-bottom-color: #f8f9fa;

          &:last-of-type {
            border-bottom-color: #ddd;
          }
        }
      }
    }
  }

  .modal-backdrop {
    top: 60px;
  }

  // Arrows in the book section
  &.path-mod-book {
    #mod_book-chaptersnavigation {
      top: 120px;
      margin: 0 -35px 0 -53px;
    }

    .tertiary-navigation {
      .row {
        margin-right: -40px;
        margin-left: -40px;

        .navitem {
          z-index: 10;
        }
      }
    }
  }


  // Footer elements
  #page {

    .btn-primary:focus, .btn-primary.focus {
      color: #fff;
      background-color: #007a7c99 !important;
      border-color: #006e6f;
      box-shadow: 0 0 0 0.2rem rgba(38, 174, 176, 0.5) !important;
    }


    .carousel {
      .carousel-inner {
        padding-bottom: 25px;
      }

      .carousel-control-next {
        background-image: url(/theme/boost_union_vorsprung/pix/shapes/arrow-right.svg);
        background-repeat: no-repeat;
        background-size: 75%;
        background-position: 50% 50%;
      }

      .carousel-control-prev {
        background-image: url(/theme/boost_union_vorsprung/pix/shapes/arrow-left.svg);
        background-repeat: no-repeat;
        background-size: 75%;
        background-position: 50% 50%;
      }
    }


    #page-footer {
      position: relative;
    }

    #footnote {
      position: relative;
      background-color: #dae9e9;
      margin: 0 !important;
      display: flex;

      .iconleiste {
        padding: 0 15px;
        display: flex;
        flex-direction: row;

        img {
          max-height: 60px;
          padding-right: 15px;
        }
      }
    }

    &.drawers.show-drawer-left {
      margin-left: 315px;
    }

    &.drawers.show-drawer-right {
      margin-right: 335px;
    }

    &.show-drawer-left-backup {
      #page-footer {
        left: -1rem;
        width: calc(100% + 4rem) !important;
      }

      #footnote {
        left: -1rem;
        width: calc(100% + 4rem) !important;
      }
    }
  }

  .drawer-toggles .drawer-toggler {
    // Make sure the buttons are always above the tiles content and headlines
    z-index: 5;
  }


  .section-summary-activities{
    flex-direction: column;
  }

  // Usermenu
  .dropdown-menu {
    padding: 0;

    .carousel {
      margin-bottom: 0px;
    }
  }

  // Navigation elements
  .drawer-left {
    -webkit-overflow-scrolling: touch;
    background-color: #eaf2f2;
    padding: 10px 0px 0px 20px;

    .drawerheader {
      height: unset;
    }

    .bg-light {
      background-color: #eaf2f2;
    }

    .drawercontent {
      padding-right: 20px;
      padding-bottom: 20px;
      scrollbar-width: unset;

      .list-group-item {
        padding: 0.75rem 0.75rem;
      }

      .courseindex {
        .list-group-item {
          padding: 0.5rem 0.5rem;
        }

        .courseindex-section {
          position: relative;
          display: block;
          padding: 0;
          background-color: #fff;
          border-bottom: 1px solid rgba(0, 0, 0, .125);
          border-left: 1px solid rgba(0, 0, 0, .125);
          border-right: 1px solid rgba(0, 0, 0, .125);
          border-top: 0px solid rgba(0, 0, 0, 0);
          width: 100%;
          color: #495057;
          text-align: inherit;
        }

        .courseindex-item {
          border-radius: 0;
          padding: 0.75rem 0.5rem;

          &.courseindex-section-title {
            a {
              font-weight: normal;
            }
          }

          &:hover {
            background-color: var(--color-light);
            color: #495057;

            &.pageitem .courseindex-link, &.pageitem .courseindex-chevron {
              color: #495057;
            }
          }

          .courseindex-link {
            flex: 1 1 auto;
          }

          .icons-collapse-expand {
            padding-right: 0px;
          }

          .spacer {
            flex: 1 1 auto;
          }

          .icon {
            font-size: 16px;
          }
        }

        .dimmed {
          background-color: #efefef;
          opacity: 0.8;
        }

      }
    }
  }

  .drawer-right {
    .drawerheader {
      height: unset;
    }
  }

  // General Page elements
  #page-header {
    h1.h2 {
      font-size: 2.34375rem;
    }
  }

  #topofscroll,
  #page.drawers .main-inner {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;

    .secondary-navigation .navigation {
      margin: 0 2rem;
    }
  }

  .activity {
    border-top: 0px solid #ffffff;

    &.fullwidth.dimmed {
      background: linear-gradient(270deg, rgba(0, 0, 0, 0.20), rgba(255, 255, 255, 1));
      opacity: 1;
      border-radius: 0.25rem;
      padding: 3px !important;

      .activity-item, &:hover {
        border-radius: 0.25rem;
        padding: 3px;
        opacity: 1;
        background-color: #FFFFFFEE;
      }
    }
  }

  .activity-item.hiddenactivity {
    background-color: #ffffff;
  }


  .dimmed {
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    h3 {
      padding: 0;
      margin: 5px 0 0 5px;
    }
  }

  &.format-tiles {
    .course-content ul.subtiles li.activity .activityname  {
      z-index: 2;
      background: transparent;
    }
    li.activity.subtile a:not(.dropdown-item),
    #page-content li.activity.subtile a:not(.dropdown-item) {
      color: #565656;
      background-color: #cfcfcf00;
      z-index: 2;
      &.dimmed{
        background-color: #afafaf40;
        &:hover{
          background-color: #afafaf00;
        }
      }
    }

    .course-content, #page-content {
      .sectiontitle::after, .badge-info {
        background-color: var(--color-main);
      }

      .tileiconcontainer .tile-icon .icon {
        color: var(--color-main);
        max-width: unset;
        max-height: unset;
      }

      .navigation-arrows {
        .icon {
          font-size: 32px;
          height: 32px;
          width: 32px;
          padding: 4px 3px 2px 7px;
        }

        img.icon {
          height: 42px;
          width: 42px;
          padding: 0 0 0 15px;
          margin: 0;
          max-width: unset;
          max-height: unset;
        }
      }


      .alert {
        /*VORsprung: 94: Barrierefreie Textfarbe in den Warnkästen*/
        &.alert-warning, &.alert-success {
          color: #000; /* Der Text in allen Alert-Kästen soll schwarz sein */
        }
        border: 1px solid transparent;
        &.avatar {
          display: flex; /* Verwendet Flexbox, um die Elemente nebeneinander anzuordnen */
          align-items: center; /* Richtet die Elemente vertikal aus */
          justify-content: space-between; /* Stellt sicher, dass Text und Bild Platz dazwischen haben */
          max-width: 100%; /* Maximale Breite des Containers anpassen */
          margin: 20px auto; /* Zentriert den Container */
        }
        &.alert-info, &.alert-dark, &.alert-blue, &.alert-danger {
          padding-left: 90px;
          &:before {
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 80px;
          }
          p, details {
            display: block;
            margin: 0 0 0 40px;
            padding: 0;
            ul,ol{
              margin: 0;
            }
          }
          ul,ol {
            display: block;
            margin: 0 0 0 60px;
            padding: 0;
            p{
              margin: 0;
            }
          }
          h1, h2, h3 {
            font-size: 1.5rem;
            font-weight: bolder !important;
            margin: 5px 0 10px 40px;
            display: block;
            padding: 0;
          }
          h2 {
            font-size: 1.4rem;
          }
          h3 {
            font-size: 1.3rem;
          }
        }
      }

      #boxabschluss.alert.alert-dark,
      #box-abschluss.alert.alert-dark {
        &:before {
          content: none;
          width: 0px;
        }
        &:after {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          width: 80px;          }
        p {
          display: block;
          margin: 0 130px 0 0;
          padding: 0;
        }
        ul,ol {
          display: block;
          margin: 0 130px 0 0;
          padding: 0;
        }
      }

      .feedback_itemlist fieldset {
        .align-items-center {
          align-items: unset !important;
        }

        .flex-wrap {
          flex-direction: column;
        }

        .fitem {
          margin: 0.1rem 0.25rem 0.1rem 30px !important;

          .weight {
            display: none;
          }
        }
      }

      .completioncheckbox {
        z-index: 2;
      }

      ul.tiles, ul.subtiles {
        .alert h1 {
          background: transparent;
          margin: 0px;

          &:before, &:after {
            display: none;
          }
        }

        .dimmed h1 {
          left: -22px;
          width: calc(100% + 54px);
        }

        h1 {
          background-position: right center;
          background-size: initial;
          background-repeat: no-repeat;
          position: relative;
          left: -20px;
          overflow: visible !important;
          font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
          font-size: 2.34375rem !important;
          font-weight: 500 !important;
          border: none !important;
          color: var(--color-primary) !important;
          width: calc(100% + 49px);
          margin-top: 30px;
          height: 54px;

          &:before {
            position: relative;
            left: -46px !important;
            top: 20px;
            float: left;
            zoom: 50%;
          }

          &:after {
            width: 80px;
            position: relative;
            right: 8px !important;;
            top: -40px;
            display: inline-block;
            float: right;
          }
        }

        li:empty {
          height: 5px;
          // visibility: visible; //
          visibility: hidden;
        }

        .carousel-indicators li:empty {
          height: 5px;
          visibility: visible;
        }
      }

      ul.tiles {
        .tile {
          &.phototile {
            border: 1px solid var(--color-main);

            .progress-indic {
              color: var(--color-main);
              padding: 4px 7px 1px 7px;
              position: absolute;
              background-color: #fff;
              bottom: 4px;
              left: 0;
              font-size: 0.9em;
              font-weight: 700;
              line-height: 1;
            }

            &.tilestyle-1, &.tilestyle-2 {
              a {
                padding: 0px;
              }

              .photo-tile-image {
                height: 105px;
                position: relative;
                background-size: cover;

                .availabilityinfo {
                  position: absolute;
                  top: 4px;
                  left: 0px;

                  .badge-info {
                    color: var(--color-main);
                    background-color: #fff;
                    border-radius: 0;
                  }
                }
              }

              .photo-tile-text {
                top: inherit;
                display: block;
                width: 100%;
                height: 70px;

                h3 {
                  background-color: var(--color-main);
                  display: block;
                  position: relative;
                  text-align: left;
                  padding: 4px 10px;
                  margin: 0;
                  font-size: 1.2em;
                  line-height: 20px;
                  color: #fff;
                  height: 100%;
                }
              }
            }
          }
        }

        .tile-clickable:hover .tileiconcontainer {
          transform: translate(-40px, -5px) scale(1.1);
          transition: 0.5s ease-in-out;
        }
      }

      ul.subtiles {
        li.activity {
          &.subtile {
            border-radius: 0px;

            &:not(.unclickable):hover .tileiconcontainer {
              transform: translate(-40px, -5px) scale(1.1);
              transition: 0.5s ease-in-out;
            }

            .contentafterlink {
              position: absolute;
              bottom: -10;
              display: inline-block;
              background-color: var(--color-light);
              color: var(--color-text);
              z-index: 10;
              font-size: x-small;

              strong {
                color: var(--color-main);
              }
            }
          }

          &.label {
            position: relative;
            left: -10px;
            margin: 0;
            border-radius: 0;
            min-width: calc(100% + 20px);
          }

          .tileiconcontainer {
            position: absolute;
            bottom: 10px;
            right: 30px;
          }

          .activityname {
            position: absolute;
            top: 20px;
            width: 100%;
            text-align: left;
            padding: 6px;
            display: block;

            h5 {
              font-size: 24px;
            }
          }
        }
      }

      .availabilityinfo {
        bottom: 7px !important;
        padding: 0;
        border-radius: 0;
        font-size: 0.8rem;
        opacity: 0.7;

        .badge-info {
          font-size: 100%;
          background-color: transparent;
          color: var(--color-text);
        }
      }

      details {
        font-weight: normal;
        transition: max-height 400ms ease-out, border 0ms linear;
        max-height: 100px;

        summary {
          font-weight: 700;
          margin-top: 5px;
          margin-bottom: 5px;
          padding-top: 0.3em;
          padding-bottom: 0.3em;
          overflow: hidden;
        }

        &[open] {
          // max-height: 800px; /* Set a max-height value enough to show all the content */
          max-height: unset; /* Didnt work here: Video transcript: http://localhost/mod/book/view.php?id=1118 */
          border-color: #888;
          transition: max-height 400ms ease-out, border 0ms linear;
        }
      }

      .cm-inner {
        .completioncheckbox {
          position: relative;
          top: 10px;
          right: 10px;
          height: 22px;
          width: 22px;

          .icon {
            font-size: 12px;
            width: 12px;
            position: absolute;
            left: 2px;
            top: 3px;
            height: 12px;
          }
        }

        .label_content {
          overflow: visible;
          border-radius: 0.5rem;
        }
      }

      .alert-dark {
        min-height: 170px;
        background-color: #b7e5dc !important;
        border-color: #aed9d1 !important;
      }

      .alert-blue {
        min-height: 170px;
        background-color: #b6e9ff !important;
        border-color: #adddf2 !important;
      }

      .alert-dark:before, .alert-blue:before {
        float: left;
        width: 80px;
        margin: 0 40px 0 10px;
        display: block;
      }

      .nolink .MathJax_Display {
        /* display: inline !important; */
      }
    }
  }
}

.format-tiles .course-content .single-section li.activity.label h1 {
  position: relative;
  left: -14px;
  width: calc(100% + 14px);
  &:after{
    right: -105px;
  }
}


// Cleaning old stuph from boost
.pagelayout-standard #page.drawers .footer-popover,
body.limitedwidth #page.drawers .footer-popover {
  max-width: unset !important;
}

/* VORsprung Bug 86 und 34: für alle farbig hinterlegten Alert-Kästen mit Avatar-Bild gilt*/
.alert.alert-primary,
.alert.alert-danger,
.alert.alert-info {
  display: flex; /* Verwendet Flexbox, um die Elemente nebeneinander anzuordnen */
  flex-direction: column;
  justify-content: space-between; /* Stellt sicher, dass Text und Bild Platz dazwischen haben */
  /* max-width: 90%; Maximale Breite des Containers anpassen */
  margin: 20px auto; /* Zentriert den Container */
}


// Jetzt definieren wir alle Robotor bilder.
.vorsprung.vorsprung-informatik {
  &.format-tiles {
    #page-content, .course-content {
      .alert-dark:before, .alert-blue:before {
        content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-informatik-body.svg);
        float: left;
        width: 80px;
        margin: 0 40px 0 10px;
      }

      .alert-info {
        color: #333333 !important;
        background-color: #b6e9ff !important;
        border-color: #adddf2 !important;
        &:before {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-informatik-neutral-cb.svg);

        }
      }


      .alert-danger{
        color: #333333 !important;
        background-color: #ffcccc !important;
        border-color: #f2c2c2 !important;
        &:before {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-informatik-achtung-cb.svg);
        }
      }

      .alert-warning, .environmenttable .warn {
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
      }

      .alert-success, .environmenttable .ok {
        color: #333333 !important;
        background-color: #d5e29f !important;
        border-color: #cad697 !important;
      }

      #boxabschluss.alert.alert-dark,
      #box-abschluss.alert.alert-dark {
        &:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-informatik-body.svg);
        }
      }

      li.subtile .tileiconcontainer.assessment {
        border: 1px dashed #774075ac;
        background-color: #c740c520;
      }

      li.subtile .activityiconcontainer.assessment:not(.isbranded) .activityicon:not(.nofilter),
      li.subtile .activityiconcontainer.assessment:not(.isbranded) .icon:not(.nofilter) {
        filter: invert(76%) sepia(58%) saturate(6969%) hue-rotate(250deg) brightness(70%) contrast(79%);
      }

      ul.tiles, ul.subtiles {
        h1 {
          background: linear-gradient(90deg, #fff 51%,
                  rgba(255, 245, 255, .75) 70%,
                  rgba(255, 255, 255, 0) 100%),
          url(/theme/boost_union_vorsprung/pix/boxes/vsp-box-bg.jpg?v=8180613);
          background-position: right center;
        }

        h1:before {
          content: url(/theme/boost_union_vorsprung/pix/typo/typo-informatik-header-prefix.png);
        }

        h1:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-informatik-neutral-cb.svg);
          right: 8px !important;;
          top: -33px;
        }

        h1#header-worumgehtes:after,
        h1#header-wozuistdasgut:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-informatik-frage-cb.svg);
        }

        h1#header-wasmussichwissen:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-informatik-summary-cb.svg);
        }

        h1#header-achtung:after,
        h1#header-waskannichmachen:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-informatik-achtung-cb.svg);
        }
      }
    }
  }
}


.vorsprung.vorsprung-mathe {
  &.format-tiles {
    #page-content, .course-content {
      /* VORsprung Bug 86 : blauer Kasten mit fragendem Avatar: Hintergrundfarbe ändern*/
      .alert.alert-primary {
        background-color: #B6E9FF;
      }

      /* VORsprung Bug 86 und 34: für den Text in farbig hinterlegten Alert-Kästen gilt*/
      .alert.alert-primary .text,
      .alert.alert-danger .text,
      .alert.alert-info .text {
        flex: 1; /* Erlaubt dem Text, den verbleibenden Platz einzunehmen */
        padding: 15px; /* Fügt Abstand zwischen Text und Bild hinzu */
        line-height: 1.6; /*vergroessert den Zeilenabstand ein wenig für bessere Lesbarkeit */
      }

      .alert-warning, .environmenttable .warn {
        color: #333333 !important;
        background-color: #ffe9b3 !important;
        border-color: #f2ddaa !important;
      }

      .alert.alert-success {
        color: #333333 !important;
        background-color: #d5e29f !important;
        border-color: #cad697 !important;
      }

      .alert-danger{
        color: #333333 !important;
        background-color: #ffcccc !important;
        border-color: #f2c2c2 !important;
      }

      /* VORsprung Bug 86: Größe und Abstand vom umgebenen Kasten für die Avatar-Bilder in blauen Alert-Kästen anpassen*/
      .alert.alert-primary .image img {
        height: 150px;
        padding: 5px;
      }

      /* VORsprung Bug 34: Größe und Abstand vom umgebenen Kasten für die Avatar-Bilder in roten und blauen Alert-Kästen anpassen*/
      .alert.alert-danger .image img,
      .alert.alert-info .image img {
        height: 216px;
        padding: 5px;
      }

      .alert-dark:before, .alert-blue:before {
        content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-mathematik-body.svg);
      }

      .alert-info {
        color: #333333 !important;
        background-color: #b6e9ff !important;
        border-color: #adddf2 !important;
        &:before {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-mathematik-neutral-cb.svg);

        }
      }

      .alert-danger:before {
        content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-mathematik-achtung-cb.svg);
      }

      #boxabschluss.alert.alert-dark,
      #box-abschluss.alert.alert-dark {
        &:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-mathematik-body.svg);
        }
      }

      li.subtile .tileiconcontainer.assessment {
        border: 1px dashed rgba(142, 184, 120, .75);
        background-color: rgba(242, 254, 220, .5);
      }

      li.subtile .activityiconcontainer.assessment:not(.isbranded) .activityicon:not(.nofilter),
      li.subtile .activityiconcontainer.assessment:not(.isbranded) .icon:not(.nofilter) {
        filter: invert(76%) sepia(18%) saturate(6969%) hue-rotate(15deg) brightness(90%) contrast(79%);
      }

      ul.tiles, ul.subtiles {
        h1 {
          background: linear-gradient(90deg, #fff 51%,
                  rgba(240, 251, 255, .75) 70%,
                  rgba(255, 255, 255, 0) 100%),
          url(/theme/boost_union_vorsprung/pix/boxes/vsp-box-bg.jpg?v=8180613);
          background-position: right center;
        }

        h1:before {
          content: url(/theme/boost_union_vorsprung/pix/typo/typo-mathematik-header-prefix.png);
        }

        h1:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-mathematik-neutral-cb.svg);
          top: -33px;
        }

        h1#header-worumgehtes:after,
        h1#header-wozuistdasgut:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-mathematik-frage-cb.svg);
        }

        h1#header-wasmussichwissen:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-mathematik-summary-cb.svg);
        }

        h1#header-achtung:after,
        h1#header-waskannichmachen:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-mathematik-achtung-cb.svg);
        }
      }
    }
  }
}

.vorsprung.vorsprung-physik {
  &.format-tiles {
    #page-content, .course-content {

      .alert-dark:before, .alert-blue:before {
        content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-physik-body.svg);
      }
      .alert-info {
        color: #333333 !important;
        background-color: #b6e9ff !important;
        border-color: #adddf2 !important;
        &:before {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-physik-neutral-cb.svg);
        }
      }
      .alert-danger:before {
        content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-physik-achtung-cb.svg);
      }
      .alert-danger, .environmenttable .error {
        color: #333333 !important;
        background-color: #ffcccc !important;
        border-color: #f2c2c2 !important;
      }

      .alert.alert-warning {
        color: #333333 !important;
        background-color: #ffe9b3 !important;
        border-color: #f2ddaa !important;
      }

      #boxabschluss.alert.alert-dark,
      #box-abschluss.alert.alert-dark{
        &:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-physik-body.svg);
        }
      }

      li.subtile .tileiconcontainer.assessment {
        border: 1px dashed rgba(242, 124, 50, 0.85);
        background-color: rgba(242, 125, 50, 0.15);
      }

      li.subtile .activityiconcontainer.assessment:not(.isbranded) .activityicon:not(.nofilter),
      li.subtile .activityiconcontainer.assessment:not(.isbranded) .icon:not(.nofilter) {
        filter: invert(76%) sepia(34) saturate(6000%) hue-rotate(0deg) brightness(90%) contrast(79%);
      }

      ul.tiles, ul.subtiles {
        h1 {
          background: linear-gradient(90deg, #fff 51%,
                  rgba(255, 246, 234, .75),
                  rgba(255, 255, 255, 0) 100%),
          url(/theme/boost_union_vorsprung/pix/boxes/vsp-box-bg.jpg?v=8180613);
          background-position: right center;
        }

        h1:before {
          content: url(/theme/boost_union_vorsprung/pix/typo/typo-physik-header-prefix.png);
        }

        h1:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-physik-neutral-cb.svg);
          top: -45px;
          right: -35px !important;
        }

        h1#header-worumgehtes:after,
        h1#header-wozuistdasgut:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-physik-frage-cb.svg);
        }

        h1#header-wasmussichwissen:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-physik-summary-cb.svg);
        }

        h1#header-achtung:after,
        h1#header-waskannichmachen:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-physik-achtung-cb.svg);
        }
      }
    }
  }
}

.vorsprung.vorsprung-chemie {
  &.format-tiles {
    #page-content, .course-content {
      .alert-dark {
        color: #333333 !important;
        background-color: #b7e5dc !important;
        border-color: #aed9d1 !important;
      }

      .alert-dark:before, .alert-blue:before {
        content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-chemie-body.svg);
      }

      .alert-info {
        color: #333333 !important;
        background-color: #b6e9ff !important;
        border-color: #adddf2 !important;
        &:before {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-chemie-neutral-cb.svg);

        }
      }

      .alert-danger:before {
        content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-chemie-achtung-cb.svg);
       }

      #boxabschluss.alert.alert-dark,
      #box-abschluss.alert.alert-dark {
        &:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-chemie-body.svg);
        }
      }

      li.subtile .tileiconcontainer.assessment {
        border: 1px dashed rgba(142, 184, 120, .75);
        background-color: rgba(242, 254, 220, .5);
      }

      li.subtile .activityiconcontainer.assessment:not(.isbranded) .activityicon:not(.nofilter),
      li.subtile .activityiconcontainer.assessment:not(.isbranded) .icon:not(.nofilter) {
        filter: invert(76%) sepia(18%) saturate(6969%) hue-rotate(15deg) brightness(90%) contrast(79%);
      }

      ul.tiles, ul.subtiles {
        h1 {
          background: linear-gradient(90deg, #fff 51%,
                  rgba(242, 254, 220, .75) 70%,
                  rgba(255, 255, 255, 0) 100%),
          url(/theme/boost_union_vorsprung/pix/boxes/vsp-box-bg.jpg?v=8180613);
          background-position: right center;
        }

        h1:before {
          content: url(/theme/boost_union_vorsprung/pix/typo/typo-chemie-header-prefix.png);
        }

        h1:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-chemie-neutral-cb.svg);
          top: -50px;
        }

        .dimmed h1:after {
          right: 10px !important;
        }

        h1#header-worumgehtes:after,
        h1#header-wozuistdasgut:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-chemie-frage-cb.svg);
        }

        h1#header-wasmussichwissen:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-chemie-summary-cb.svg);
        }

        h1#header-achtung:after,
        h1#header-waskannichmachen:after {
          content: url(/theme/boost_union_vorsprung/pix/avatars/avatar-chemie-achtung-cb.svg);
        }
      }
    }
  }
}


.vorsprung.vorsprung-campus {
  &.format-tiles {
    #page-content, .course-content {

      .alert-dark:before, .alert-blue:before {
        content: url(/theme/boost_union_vorsprung/pix/static/Campus/campus_avatar_90.png);
        left: 15px;
      }

      .alert-info {
        color: #333333 !important;
        background-color: #b6e9ff !important;
        border-color: #adddf2 !important;
        &:before {
          content: url(/theme/boost_union_vorsprung/pix/static/Campus/Campus_Neutral_65er.png);
          left: 10px;
          top: 30%;
        }
      }

      .alert-danger:before {
        content: url(/theme/boost_union_vorsprung/pix/static/Campus/campus_avatar_90.png);
        left: 15px;
      }

      #boxabschluss.alert.alert-dark,
      #box-abschluss.alert.alert-dark {
        &:after {
          content: url(/theme/boost_union_vorsprung/pix/static/Campus/campus_avatar_90.png);
        }
      }
      li.subtile .tileiconcontainer.assessment {
        border: 1px dashed rgba(242, 192, 120, .75);
        background-color: rgba(242, 194, 100, .25);
      }

      li.subtile .activityiconcontainer.assessment:not(.isbranded) .activityicon:not(.nofilter),
      li.subtile .activityiconcontainer.assessment:not(.isbranded) .icon:not(.nofilter) {
        filter: invert(92%) sepia(88%) saturate(4969%) hue-rotate(344deg) brightness(94%) contrast(99%);
      }

      ul.tiles, ul.subtiles {
        h1:before {
          content: url(/theme/boost_union_vorsprung/pix/typo/typo-primary-header-prefix.png);
        }
      }
    }
  }
}

@media screen and (max-width: 999px) {
  .vorsprung.format-tiles {
    .course-content, #page-content {
      ul.tiles, ul.subtiles{
        h1 {
          font-size: 2rem !important;
          &:before{
            left: -52px !important;
            zoom: 45%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .vorsprung {

    &.path-mod-book #mod_book-chaptersnavigation {
      top: 70px;
      margin: 0px 35px 0 15px;
    }
    .tertiary-navigation .row {
      margin-right: -15px;
      margin-left: -15px;
    }

    .drawer.drawer-left.drawer-primary .drawerheader {
      display: flex;
      position: relative;

      button {
        position: absolute;
        top: -7px;
        right: -12px;
        background-color: #fff;
      }

      img {
        width: 100%;
        padding-right: 20px;
      }
    }

    .drawer.drawer-left {
      .drawerheader {
        display: flex;
        position: relative;

        button {
          position: absolute;
          top: -7px;
          right: 15px;
          background-color: #fff;
        }
      }

      .drawercontent {
        padding-bottom: 100px;
      }
    }

    .drawer.drawer-right .drawerheader {
      display: flex;
      position: relative;

      button {
        position: absolute;
        top: 2px;
        left: -15px;
        background-color: #fff;
      }
    }

    .drawercontent {
      height: 100%;
    }

    &.format-tiles {
      .course-content, #page-content {
        ul.tiles, ul.subtiles {
          h1 {
            font-size: 1.8rem !important;

            &:before {
              left: -45px !important;
              zoom: 40%;
            }
          }

          .dimmed h1 {
            &:before {
              left: -48px !important;
            }
          }
        }
      }
    }

    .badge {
      white-space: wrap;
    }

    #page #page-footer,
    #page #footnote {
      left: 0;
      width: 100% !important;

      [data-region=footer-container-popover] {
        position: relative;

        button {
          position: absolute;
          top: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .vorsprung.format-tiles .course-content ul.subtiles li.activity.label, .format-tiles #page-content ul.subtiles li.activity.label {
    left: 0px;
  }
  .vorsprung{
    #footnote{
      flex-direction: column;
      padding: 16px;
      .container-fluid{
        text-align: center;
      }
      .iconleiste img {
        max-width: 90%;
      }
    }
  }
}


// Re.set the buttom button for help
.jsenabled #page-footer .footer-content-popover {
  display: none;
}
.jsenabled .btn-footer-popover,
.jsenabled .btn-footer-communication {
  display: block;
  z-index: 1000;
}


.vorsprung.format-tiles.editing .course-content ul.tiles .alert h1,
.vorsprung.format-tiles.editing .course-content ul.subtiles .alert h1,
.vorsprung.format-tiles.editing #page-content ul.tiles .alert h1,
.vorsprung.format-tiles.editing #page-content ul.subtiles .alert h1 {
  background: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  color: #555 !important;
  font-weight: 300 !important;
  left: 0px;
  height: unset;
}

body.limitedwidth #page.drawers .main-inner {
  max-width: unset;
}

