/****************************************************************
 * EXTENSION POINT:
 * Add your Pre-SCSS code here.
 * It will be added on top of Boost Union's Pre-SCSS code.
 ***************************************************************/

/*=======================================
 * Settings: Colors and Vars
 ======================================*/
/** Some pre-SCSS from the old theme_vorsprung where it was still in the backend settings
    within the textareas **/

@import "vorsprung/functions";
@import "vorsprung/variables";

:root {
  --color-primary: #00a0a2;
  --color-secondary: #e2b847;
  --color-main: #0060af;
  --color-light: #60b0EF;
  --color-text: #595959;
}

.vorsprung-campus {
  --color-main:  #00a0a2;
  --color-light: #f2e887;
  --color-text:  #006062;
}

.vorsprung-informatik {
  --color-main:  #774075;
  --color-light: #e6d2e6;
  --color-text:  #361d35;
}

.vorsprung-mathe {
  --color-main:  #00577a;
  --color-light: #ade7ff;
  --color-text:  #003347;
}

.vorsprung-physik {
  --color-main:  #d58139;
  --color-light: #f0d2b8;
  --color-text:  #38200b;
}

.vorsprung-chemie {
  --color-main:  #d1d75b;
  --color-light: #e8ebae;
  --color-text:  #505314;
}

.bg-vorsprung-light {
  background-color: #f2f8c7;
}

.bg-informatik-light {
  background-color: #e6d2e6;
}

.bg-mathe-light {
  background-color: #ade7ff;
}

.bg-physik-light {
  background-color: #f0d2b8;
}

.bg-chemie-light {
  background-color: #e8ebae;
}

// @import "test";