{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}
<div id="goto-top-link">
    {{! go to top is sticky to footer so needs to be sibling }}
    <a class="btn btn-light" role="button" href="#" aria-label="{{#str}} totop, theme_boost_vorsprung {{/str}}">
        {{#pix}} i/up, core{{/pix}}
    </a>
</div>

<footer id="page-footer" class="py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-sm-4 col-12">
                <a href="https://www.auswaertiges-amt.de/de" target="_blank"><img class="ml-1 mr-1 my-1" src="/theme/vorsprung/pix/logos/aa-logo.svg"></a>
                <a href="https://www.daad.de/de/" target="_blank">
                    <img class="d-inline-block d-sm-none d-lg-inline-block ml-1 mr-1 my-1" src="/theme/vorsprung/pix/logos/daad-logo.svg">
                    <img class="d-none d-sm-inline-block d-lg-none ml-1 mr-1 my-1" src="/theme/vorsprung/pix/logos/daad-logo-no-text.svg">
                </a>
            </div>
            <div class="col-lg-7 col-sm-8 col-12 pt-2 pt-sm-0 item-icons">
                {{{ output.login_info }}}

                <nav class="nav navbar-nav d-md-none" aria-label="{{#str}}custommenu, admin{{/str}}">
                    {{# output.custom_menu_flat }}
                        <ul class="list-unstyled pt-3">
                            {{> theme_boost_vorsprung/custom_menu_footer }}
                        </ul>
                    {{/ output.custom_menu_flat }}
                </nav>

                {{# output.page_doc_link }}
                    <div class="helplink">{{{ output.page_doc_link }}}</div>
                {{/ output.page_doc_link }}
                {{# output.course_footer }}
                    <div id="course-footer">{{{ output.course_footer }}}</div>
                {{/ output.course_footer }}


                {{{ output.standard_footer_html }}}
                {{{ output.standard_end_of_body_html }}}
                <div class="tool_usertours-resettourcontainer"></div>
            </div>
        </div>
    </div>
</footer>
